<div class="col-md-3 col-sm-6 masonry__item">
  <div class="hover-element member member-2" data-title-position="center,center">
    <div class="hover-element__initial">
      <img alt="Pic" src="{{picture_url}}" />
    </div>
    <div class="hover-element__reveal" data-overlay="9">
      <div class="boxed">
        <h6>{{position}}</h6>
        <h5>{{first_name}} {{last_name}}</h5>
      </div>
      <ul class="social-list pos-absolute pos-bottom">
        <li>
          <a href="{{social_links.twitter}}"><i class="socicon-twitter"></i></a>
        </li>
        <li>
          <a href="{{social_links.dribble}}"><i class="socicon-dribbble"></i></a>
        </li>
        <li>
          <a href="{{social_links.vimeo}}"><i class="socicon-vimeo"></i></a>
        </li>
        <li>
          <a href="{{social_links.instagram}}"><i class="socicon-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
